<div class="login-container">
  <%= render 'users/fast_login', message: defined?(message) ? message : nil %>
  <%= render 'users/password_login', message: defined?(message) ? message : nil %>
  <div class="help-box"></div>
</div>