.carousel-box {
  padding: 0;
  
  .carousel {
    margin-bottom: 20px;
  }

  .carousel-inner {
    img {
      min-height: 212px;
      max-height: 315px;
    }
  }

  .carousel-indicators {
    bottom: 0;
  }
}