@media (max-width: 768px) {
  .login-container {
    height: auto;
    min-height: 0;
    background-color: transparent;
  }

  .login-box {
    position: absolute;
    left: 50%;
    margin: 0 0 0 -230px;
  }

  body.users-sessions-page {
    background: $white;
  }
}

@media (max-width: 414px) {
  .article-list {
    .article-box {
      padding-right: 0;
    }

    .img-box {
      z-index: -1;
    }
  }

  .home-page {
    .recommend-collection {
      margin-left: -4px;

      .collection {
        margin: 0 0 10px 4px;
      }
    }
  }

  .main {
    padding-left: 10px;
  }
}